{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "dev": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    }
  }
}
